.header{
    height: 30px;
    background: lightpink;
}
.container{

}
.clearfix{
    clear: both;
}
.content{
    float: left;
    width: 30%;
    background:aquamarine ;

}
.sidebar{
     float: right;
     width: 69%;
    height: 900px;
    background: antiquewhite;
}
.footer{
    background: lightpink;
    height: 30px;
}
